asgiref
certifi
channels
charset-normalizer
click
colorama
dj-database-url
dj-rest-auth
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dlib
face-recognition
face_recognition_models
gunicorn
idna
joblib
numpy
opencv-python-headless
packaging
pillow
psycopg2-binary
PyJWT
python-decouple
requests
scikit-learn
scipy
setuptools
sqlparse
threadpoolctl
tzdata
urllib3
whitenoise
